//colors
$color-white: #fcfcfc;
$color-black: #424242;

$color-primary-light: #b1ebdf;
$color-primary: #02c39a;
$color-primary-dark: #00a896;

$color-secondary-1: #05668d;
$color-secondary-2: #028090;

$color-gray-light: #eeeeee;
$color-gray-dark: #cccccc;

$color-yellow-light: #f0f3bd;
$color-star: #ffb800;

// fonts
$default-font-size: 1.6rem;
